@font-face {
    font-family: 'Montserrat';
    src: url('../assets/fonts/Montserrat-Medium.woff2') format('woff2');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Montserrat';
    src: url('../assets/fonts/Montserrat-Bold.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Montserrat';
    src: url('../assets/fonts/Montserrat-ExtraBold.woff2') format('woff2');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Montserrat';
    src: url('../assets/fonts/Montserrat-Light.woff2') format('woff2');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}


:root {
    --main-color: #1d1a1a;
    --main-color-transparent: #1d1a1ae3;
    --accent-color: #4f4f4f;
    --font-color: #c3073f;
    --border-color:#950740;
    --hover-color: #6f2232;
    --font-family-base : 'Montserrat', sans-serif;
    --border: 5px solid var(--border-color);
}

* {
  -webkit-user-select: none; /* Safari */
  -moz-user-select: none;    /* Firefox */
  -ms-user-select: none;     /* Edge/IE */
  user-select: none;         /* Стандартное свойство */
}
::selection {
    background-color: #6f22315e;
}
.can-be-selected {
    -webkit-user-select: textauto; /* Safari */
    -moz-user-select: text;    /* Firefox */
    -ms-user-select: text;     /* Edge/IE */
    user-select: text;   
    
}


body {
    background-color: var(--main-color);
    font-family: var(--font-family-base);
    color: var(--font-color);
    font-size: 30px;
    font-weight: 500;
    transition: 0.3s;
}

h1 {
    font-weight: 600;
    font-size: 90px;
    margin: 0px;
}

h2{
    font-weight: 400;
    font-size: 40px;
    margin: 0px;
    display: inline-block;
}
h3{
    font-weight: 300;
    font-size: 30px;
    margin: 0px;
}

a {
    text-decoration: none;
    color: var(--main-color);
    font-weight: 900;
}

p {
    font-weight: 300;
    font-size: 25px;
    margin: 0px;
}





.main-header {


    border-bottom: var(--border);
    margin: 15px;
}

.header-div {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 20px;
}

.navigation-list {
    column-gap: 50px;
    row-gap: 50px;
    display: flex;
    flex-wrap: wrap;
    margin: 50px;
}

.navigation-item {
    
}

.navigation-link {
    border: var(--border);
    border-radius: 50px;
    background-color: var(--font-color);  
    height: auto;
    padding: 10px;
    align-items: center;
    width: 250px;
    justify-content: center;
    transition: 0.3s;
    &:hover {
        color: rgb(200, 133, 153);
        box-shadow: 0px 0px 50px 0px rgba(145, 74, 74, 0.282);
            &::after {
            background-color: rgb(200, 133, 153);
        }
    }
}

.is-current {
    &::after {
        transition: 0.3s;
        content: "";
        width:10px;
        height: 10px;
        background-color: var(--main-color);
        margin-left: 8px;
        border-radius: 50%;
    }
}



.refresh-button {
    border: var(--border);
    padding: 15px;
    border-radius: 50px;
    transition: 0.3s;
    background-color: transparent;
    color: var(--border-color);
    &:hover {
        color: var(--font-color);
        border-color: var(--font-color);
    }
}

.add-new-note{
    font-size: 90px;
    font-weight: 100;

}







.filter-info {
    margin-inline: 20px;
}

.filtring-div {
    display: inline-flex;
    border: var(--border);
    border-width: 3px;
    border-radius: 10px;
    width: auto;
    padding: 10px;
    margin: 20px;
}

.filtring-list{
    display: flex;
    column-gap: 20px;
}

.filtring-item {
    
}
.close-button{
    transition: 0.3s;
    height: 10vh;
    padding: 0px;
    border:none;
    align-items: center;
    justify-content: center;
    background-color: transparent;
    &:hover{
        border-radius: 50px;
        --border-color:var(--font-color);
        
    }
}

.close-icon {
    rotate: 45deg;
}
.filtring-button  {
    border: var(--border);
    border-width: 3px;
    padding-inline: 15px;
    border-radius: 50px;
    transition: 0.3s;
    background-color: transparent;
    color: var(--border-color);
    &:hover {
        color: var(--font-color);
        border-color: var(--font-color);
    }
}




.central-div {
    display: flex;
        margin: 20px;
    padding: 20px;
    border-top: 4px dashed var(--border-color);
    column-gap: 40px;
}


main {

    flex-grow: 5;
}
.nav-tree{
    
    flex-grow: 1;
    transition: 0.3s;
    height: auto;
    padding: 20px;

    color: var(--font-color);
    background-color: transparent;
    border:none;
    border-left: 3px solid var(--border-color);
    border-right: 3px solid var(--border-color);
    border-radius: 30px;
    &:hover{
        border-radius: 50px;
        --border-color:var(--font-color);
        
        }
    }


.add-new-note {
    transition: 0.3s;
    height: 10vh;
    width: 100%;
    padding: 0px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: transparent;
    border:none;
    border-top: 3px solid var(--border-color);
    border-bottom: 3px solid var(--border-color);
    border-radius: 30px;
    &:hover{
        border-radius: 50px;
        --border-color:var(--font-color);
        
    }
}

.plus-icon {
    transition: 0.3s;
    fill: var(--border-color);
    height: 70%; 
}

.note {

    margin-top: 3vh ;
    transition: 0.3s;
    height: auto;
    width: 100%;
    padding: 20px;
    display: flex;
    color: var(--font-color);
    background-color: transparent;
    border:none;
    border-top: 3px solid var(--border-color);
    border-bottom: 3px solid var(--border-color);
    border-radius: 30px;
    &:hover{
        border-radius: 50px;
        border-color: var(--font-color);
    }
    
}

.note-info {
    text-align: left;
    flex-grow: 1;
    border-right: 2px solid #950740;
    margin-right: 30px;
}
.note-data {
    text-align: left;
    flex-grow: 4;
}


.note-type {
    white-space: pre-wrap;
    tab-size: 10;
    &::before {
        content: "Type:";
        color: var(--border-color);
    }
}
.note-create {
    white-space: pre-wrap;
    tab-size: 10;
    &::before {
        content: "Create:";
        color: var(--border-color);
    }
}
.note-change {
    white-space: pre-wrap;
    tab-size: 10;
    &::before {
        content: "Change:";
        color: var(--border-color);
    }
}
.note-tags {
    white-space: pre-wrap;
    tab-size: 10;
    &::before {
        content: "Tags:";
        color: var(--border-color);
    }
}

#note-dialog {
    padding: 20px 30px;
    border:var(--border);
    border-radius: 30px;
    border-color: var(--border-color);
    background-color: var(--main-color-transparent);
    color: var(--font-color);
    box-shadow: 0px 0px 100px 24px rgba(0, 0, 0, 0.46);
    width: 70vw;
    height: 30vh;
    
}

.header-dialog {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.input {
    background-color: var(--main-color-transparent);
    border: 3px solid var(--border-color);
    border-radius: 30px;
    color: var(--font-color);
    padding-inline: 10px;
    &:focus {
        outline: none;
    }
}









.type-list{
    display: flex;
    column-gap: 20px;
}

.type-item {
    
}

.type-button  {
    border: var(--border);
    border-width: 3px;
    padding-inline: 15px;
    border-radius: 50px;
    transition: 0.3s;
    background-color: transparent;
    color: var(--border-color);
    &:hover {
        color: var(--font-color);
        border-color: var(--font-color);
    }
}

.current-type-button {
    border: var(--border);
    border-width: 3px;
    padding-inline: 15px;
    border-radius: 50px;
    transition: 0.3s;
    background-color: var(--font-color);
    color: var(--main-color);
    &:hover {
        color: var(--main-color);
    }
    &:focus {
        outline: none;
    }
}

